<div id="question" class="container" style="margin-top: 30px;margin-bottom: 30px;">
    <div class="row">
        <div class="col-xs-4">
            <div class="row left-side" style="border-bottom-left-radius: 9px; border-top-left-radius: 9px; min-width: 180px;">
                <div class="col-xs-12 typeQuestion" id="firstType" style="background-color: #392d40 ; height: 60px; cursor:pointer; border-top-left-radius: 9px; padding-top: 18px;">Один зі списку</div>
                <div class="col-xs-12 typeQuestion" id="secondType" style="background-color: #392d40 ; height: 60px; cursor:pointer; padding-top: 18px;">Декілька зі списку</div>
                <div class="col-xs-12 typeQuestion" id="thirdType" style="background-color: #392d40 ; height: 60px; cursor:pointer; border-bottom-left-radius: 9px; padding-top: 18px;">Рядок тексту</div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="row right-side" style="border: 2px solid #392d40; border-bottom-right-radius: 9px; border-top-right-radius: 9px; min-height:180px;">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-8" style="padding-top: 10px; padding-bottom: 10px;"><textarea id="nameNewQs" style=" overflow-y :hidden;outline: none; border:0;width: 100%; resize: none; font-size: 23px;" placeholder="Заголовок запитання" rows="1" wrap="hard"></textarea></div>
                        <div  class="col-xs-1 hidden-sm hidden-xs"></div>
                        <div class="col-xs-3" style="padding-top: 10px; padding-bottom: 10px;  text-align: right;"><input id="mark" style=" outline: none; border:1px solid #b2b2b2; text-align: center; border-radius: 3px; width: 70px;" maxlength="4" placeholder="Бал"></div>
                    </div>
                </div>

                <div class="col-xs-12" id="varianstArea">


                </div>
                <div style="text-align: center;">
                    <button type="button" id="addVariant">Додати варіант</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <button id="removeQuestion" class="glyphicon glyphicon-remove" ></button>
    </div>
</div>