<div class="row" style="margin-top: 5px;margin-bottom: 5px;">
    <div class="col-xs-1" ></div>
    <div class="col-xs-1" style="text-align: right; " >  <input type="radio"  id ="radioAns" name="variantradio" style="width:25px; height: 25px;   "> </div>
    <div class="col-xs-10" id="variantRadio" style="padding-top: 3px;">Варіант відповіді 1</div>
</div>