<div class="row" style="margin-bottom: 20px;margin-top: 10px;" >
    <div class="col-xs-1"></div>
    <div class="col-xs-10"><textarea id="textVariantAns" name="textAnswer" style=" overflow-y :hidden;outline: none;border:0; width: 100%; resize: none; " placeholder="Введіть відповідь" rows="1" wrap="hard" ></textarea></div>
</div>