
    <div class="row">
        <div class="col-xs-1"><input type="checkbox"  id ="checkbox" name="variant1" style="width:25px; height: 25px;"> </div>
        <div class="col-xs-8"><textarea id="textVariantQuest"  style=" overflow-y :hidden;outline: none;border:0; width: 100%; resize: none; " placeholder="Варіант відповіді" rows="1" wrap="hard" ></textarea></div>
        <div class="col-xs-2"><button id="removeVar" class="glyphicon glyphicon-remove" style="outline: none; border:1px solid #cacaca; text-align: center; border-radius: 3px; width: 50px; height: 25px;"></button> </div>
    </div>

