<div id="windowID">
    <div class="windowGetID">
        <div style="font-size: 23px;font-family: Arial; padding-top: 15px; padding-bottom: 10px; ">ID вашого опитування</div>
        <div id="setID" style="font-size: 20px;font-family: Arial; padding-top: 25px; padding-bottom: 25px; background-color: rgba(166,166,166,0.46);">67777789</div>
        <div  style="padding-top: 15px;">
            <button type="button" >Добре</button>
        </div>
    </div> </div>