
#header-create{
  background-color: #ede4f8;
  position: relative;
  min-height: 300px;
  width: 100%;
  text-align: center;
  color:white;
  font-family: "Book Antiqua", Arial;
  font-size: 23px;
  img{
    width:55%;
    min-width:525px;
    min-height: 125px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin:auto;
  }
 #header-button{

   padding-right: 30px;
   padding-left: 30px;


   button{
     background-color: #1d1a21;
     outline: none;
     width:inherit;
     height: 120px;
     border: 0;
   }
   button:hover{
     background: radial-gradient( ellipse closest-side at center,#483851, #1d1a21);
   }
 }
}

#main-create{
  background-color: #ede4f8;
  position: relative;
  min-height: 600px;
  #time{

    .forTime{
      position: absolute;
      bottom:50px;
      left:0;
      right:0;
      margin: auto;
      border: 0px;
      text-align: center;
      height: 70px;
      width: 400px;
      border-radius:9px ;
      outline: none;
      font-family: "Book Antiqua", Arial;
      font-size: 20px;
      box-shadow: inset 3px 3px 10px rgba(0,0,0,1);
      background-color: #1d1a21;
      color:white;
    }
  }
}